@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	width: 100%;
}
h1 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	font-size: 55px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h2 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	font-size: 40px;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 0;
}
h3 {
	font-family: 'Fjalla One', sans-serif;
	font-weight: normal;
	font-size: 30px;
	padding: 0;
	z-index: 1;
}
.copy, li {
	font-family: 'Raleway', sans-serif;
	font-size: 1.2em;
	font-weight: 600;
	color: #484545;
	    letter-spacing: .025em;
}
.center {
	margin: 0 auto;
}
.content {
	margin: 0 auto;
	    width: auto;
    max-width: 80%;
}
.clear {
	clear: both;
}
#header {
	width: 100%;
	height: 80px;
	position: fixed;
	margin-top: 30px;
}
.title {
	font-size: 2.5em;
	text-align: center;
	color: #fff;
	margin: 0;
	padding: 10px;
	background: rgba(128, 128, 128, 0.5);
	    border: 1px solid rgba(216, 216, 216, 0.8);
}
.tag {
	font-weight: normal;
	font-size: 30px;
	text-align: left;
	margin: 50px auto;
}
.copy_container {
	    width: 40%;
    margin: 0 auto;
    float: left;
    padding-right: 2%;
}
#hero, #welcome {
	width: 100%;
}
#hero {
	background: url( ../img/herowood.png) repeat fixed;
	color: #fff;
	height: 600px;
	margin: 0;
	padding: 200px 0 260px 0;
	background-size: contain;
}
#welcome {
	background-color: #f9f9f9;
	color: #333333;
	height: 300px;
	margin: 0 auto;
	overflow: hidden;
	padding: 200px 0;
		border-bottom: 1px solid #d8d8d8;
    box-shadow: 5px 5px 5px #000;
    border-top: 1px solid #d8d8d8;
}
#fellow_hero {
	background: url( ../img/fellowBG.jpg) 50% 0 no-repeat fixed;
}
#catholic_hero {
	background: url( ../img/catholicBG.jpg) 50% 0 no-repeat fixed;
}
#releaf_hero {
	background: url( ../img/releafBG.jpg) 50% 0 no-repeat fixed;
}
#sound_hero {
	background: url( ../img/soundBG.jpg) 50% 0 no-repeat fixed;
	color: #fff;
}
#star_hero {
	background: url( ../img/starBG.jpg) 50% 0 no-repeat fixed;
}
#fellow_hero, #catholic_hero, #releaf_hero, #sound_hero, #star_hero {
	color: #fff;
	height: 600px;
	padding: 170px 0 0 0;
	background-size: cover;
}
#fellow_ab, #catholic_ab, #releaf_ab, #sound_ab, #star_ab {
	background-color: #f9f9f9;
	color: #333333;
	min-height: 500px;
	height: auto;
	border-bottom: 1px solid #d8d8d8;
    box-shadow: 5px 5px 5px #000;
    border-top: 1px solid #d8d8d8;
	padding: 5% 0;
}
#footclan {
	background: url(../img/slide5.jpg) 50% 0 no-repeat fixed;
	height: 200px;
	margin: 0 auto;
	padding: 250px 0;
	color: #fff;
	background-size: cover;
}
#copyright {
	color: #fff;
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	margin-top: 100px;
	text-align: center;
}
